.gitignore
/env
/Python_client_server_App/Lesson-2/tests.py
/Python_client_server_App/Lesson-2/tmp.py
/Python_client_server_App/Lesson-3/practice/common/__pycache__/
/Python_client_server_App/Lesson-4/practice/common/__pycache__/
